#app {
  height: 100%;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

input[type='text'] {
  border: none;
  background-color: #dddddd;
  font-family: 'Nanum Gothic', sans-serif;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: black;
  font-family: 'Nanum Gothic', sans-serif;
}

textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

body {
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nanum Gothic', sans-serif;
}

.Vue-Toastification__toast--default.toast {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #dddddd;
  color: black;

  padding: 12px;
}

.Vue-Toastification__toast.toast {
  min-height: 16px;
}
.Vue-Toastification__toast.toast > .Vue-Toastification__progress-bar {
  background-color: #ca434ccc;
}

.Vue-Toastification__toast--default.toast > .Vue-Toastification__close-button {
  color: black;
}

@font-face {
  font-family: 'Nanum Gothic';
  src: url(./font/NanumGothic.woff2), url(./font/NanumGothic.woff), url(./font/NanumGothic.otf);
}
